@font-face {
    font-family: PatrickHand;
    src: url(PatrickHand-Regular.ttf);
}

body {
    display: flex;
    flex: auto;
    margin: 0%;
    font-family: PatrickHand, Arial, Helvetica, sans-serif;
}

.left-side {
    display: flex;
    flex: auto;
    height: 100vh;
    max-width: 575px;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex: auto;
    box-shadow: 0 0 10px gray;
}

.top {
    display: flex;
    flex:auto;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0 0 10px gray;
    font-size: 35px;
    font-weight: bold;
}

.middle {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row1,
.row2,
.row3 {
    display: flex;
    gap: 60px;
    margin: 20px;
}

#first_name,
#last_name,
#email,
#phone_number,
#password,
#confirm_password
 {
    display:flex;
    flex-direction: column;
    border-radius: 3px;
    border: 1px solid grey;
    height: 25px;
    width: 270px;
    font-family: sans-serif;
}

label {
    font-size: 20px;
}

input:focus {
    outline: none;
    border-color: lightblue;
    box-shadow: 0 0 2px #665df5;
}

.bottom {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 30px;
    gap: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 10px gray;
}

.account {
    display: flex;
}

.anime {
    display: flex;
    flex: auto;
    max-width: 575px;
}

#submit {
    width: 200px;
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
    font-family: PatrickHand;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0 0 10px grey;
    transition: background-color 0.2s ease-in
}

.account {
    display: flex;
    gap: 5px;
    font-size: 20px;
}

#submit:hover {
    background-color: gold;
}

a {
    text-decoration: none;
}

input {
    font-size: 15px;
    font-family: sans-serif;
}

.github {
    height: 20px;
    width: 20px;
}
    
.github:hover {
    transform: scale(1.1);
}

.footer {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 5px;
}
